# DATA ANALYSIS OF A TITANIC DATA SET (.csv)

# importing libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
import numpy as np
k=({
    'a':[12,23,34,45],
    'b':[56,67,np.nan,np.nan],
    'c':[90,np.nan,34,45],
    'd':[612,523,np.nan,745]
})
df=pd.DataFrame(k)
df

In [ ]:
df['b'].isnull().sum()

In [ ]:
df.b.ffill(inplace=True)

In [ ]:
df

In [ ]:
df.c.bfill,df.d.ffill(inplace=True)

In [ ]:
df

In [ ]:
df.mean()

# Load my .csv file...

In [ ]:
titanic_train= pd.read_csv(r'C:\Users\kunal negi\Downloads\train.csv')
titanic_train.head(10)

# in order to see the null value in data set

In [ ]:
sns.heatmap(titanic_train.isnull(),yticklabels=False)

# clearing my data

In [ ]:
titanic_train.isnull().sum()

In [ ]:
mean_age=titanic_train['Age'].mean()

In [ ]:
titanic_train['Age'].fillna(int(mean_age),inplace=True)

In [ ]:
titanic_train.Cabin.bfill(inplace=True)

In [ ]:
titanic_train.isnull().sum()

In [ ]:
titanic_train.head(10)

In [ ]:
sns.heatmap(titanic_train.isnull(),yticklabels=False,cmap='rainbow')

# Analysis start....

In [ ]:
titanic_train.hist(bins=50,figsize=(10,15))

In [ ]:
sns.distplot(titanic_train['Survived'],hist=False)

In [ ]:
sns.countplot(x='Survived',hue='Sex', data=titanic_train)

In [ ]:
sns.scatterplot(y='Survived',x='Age',hue='Sex',data=titanic_train)

In [ ]:
sns.set_style(style='darkgrid')
sns.scatterplot(y='Fare',x='Age',hue='Sex',data=titanic_train)

In [ ]:
sns.set_style(style='darkgrid')
sns.regplot(y='Fare',x='Age',data=titanic_train)

In [ ]:
sns.relplot(y='Fare',x='Age',kind='line',data=titanic_train)

In [ ]:
sns.relplot(x='Survived',y='Age',kind='line',data=titanic_train)

# combined my all relevent plot

In [ ]:
plt.figure(figsize=(10,10))
plt.subplot(3,3,1)
sns.set_style(style='darkgrid')
sns.countplot(x='Survived',hue='Sex', data=titanic_train)

plt.subplot(3,3,2)
sns.scatterplot(y='Survived',x='Age',hue='Sex',data=titanic_train)

plt.subplot(3,3,3)
sns.scatterplot(y='Fare',x='Age',hue='Sex',data=titanic_train)

plt.subplot(3,3,4)
sns.regplot(y='Fare',x='Age',data=titanic_train)

plt.subplot(3,3,5)
sns.relplot(y='Fare',x='Age',kind='line',data=titanic_train)

In [ ]:
sns.jointplot(y='Fare',x='Age',kind='kde',data=titanic_train)

In [ ]:
sns.jointplot(y='Fare',x='Age',kind="resid",data=titanic_train)

In [ ]:
sns.jointplot(y='Fare',x='Age',kind="scatter",data=titanic_train)

In [ ]:
sns.jointplot(y='Fare',x='Age',kind="reg",data=titanic_train)

In [ ]:
titanic_train.head(10)

# to analyse only age of a person

In [ ]:
age1=titanic_train.loc[(titanic_train['Age']>=0) & (titanic_train['Age']<15) ,'Age']
a=len(age1)
print(f'Age between (0 to 14)-:{a}')

age2=titanic_train.loc[(titanic_train['Age']>=15) & (titanic_train['Age']<30) ,'Age']
b=len(age2)
print(f'Age between (15 to 29)-:{b}')

age3=titanic_train.loc[(titanic_train['Age']>=30) & (titanic_train['Age']<45) ,'Age']
c=len(age3)
print(f'Age between (30 to 44)-:{c}')

age4=titanic_train.loc[(titanic_train['Age']>=45) & (titanic_train['Age']<60) ,'Age']
d=len(age4)
print(f'Age between (45 to 59)-:{d}')

age5=titanic_train.loc[(titanic_train['Age']>=60) & (titanic_train['Age']<75) ,'Age']
e=len(age5)
print(f'Age between (60 to 74)-:{e}')

age6=titanic_train.loc[titanic_train['Age']>=75,'Age']
f=len(age6)
print(f'Age above 75+ -:{f}')

In [ ]:
agegrp=[a,b,c,d,e,f]
label=['Age(0 to 14)','Age(15 to 29)',
       'Age(30 to 44)','Age(45 to 59)','Age(60 to 74)',
      'Age(above75)']
def bar_plotting_x():
    index=np.arange(len(label))
    plt.bar(index,agegrp)
    plt.ylabel('age group of people', fontsize=9)
    plt.xticks(index,label,fontsize=10,rotation=20)
    plt.show()
    
bar_plotting_x()

In [ ]:
sns.distplot(agegrp,bins=10)

# full_specification of a particular passenger unique Id

In [ ]:
def full_specification():
    while True:   
        enquiry=int(input('enter Passenger Unique ID-:'))

        if enquiry in titanic_train.PassengerId:
            a1=titanic_train.iloc[enquiry-1]['PassengerId']
            a2=titanic_train.iloc[enquiry-1]['Name']
            a3=titanic_train.iloc[enquiry-1]['Sex']
            a4=titanic_train.iloc[enquiry-1]['Age']
            a5=titanic_train.iloc[enquiry-1]['Ticket'],titanic_train.iloc[enquiry-1]['Fare']
            a6=titanic_train.iloc[enquiry-1]['Cabin']
            print(f'Enquiry for passenger Unique Id-->{a1}\nName-->{a2}\nGender-->{a3}\nAge-->{a4}\nCabin-->{a6}\nFare and ticket-->{a5}')
            print("*****************************************************************************************************************")
        elif enquiry not in titanic_train.PassengerId:
            print('SEEMS TO BE ENTERED A WRONG PASSENGER UNIQUE ID')
            break
            
full_specification()

In [ ]:
def box_plotting2():
    name=[n for n in titanic_train.Name.head(20)]
    fare=[f for f in titanic_train.Fare.head(20)]
    index=np.arange(len(name))
    plt.figure(figsize=(10,15))
    plt.subplot(2,2,1)
    plt.boxplot(index,fare)
    plt.subplot(2,2,2)
    plt.barh(index,fare)
    plt.subplot(2,2,3)
    plt.plot(index,fare)
    plt.xlabel('fare of titanic voyage',fontsize=12)
    plt.yticks(index,name,fontsize=10)
    plt.show()
    
box_plotting2()

In [ ]:
plt.pie()